.root {
    -fx-background-color: #383838;
}

.label {
    -fx-text-fill: #e8e8e8;
}

.button-1 {
    -fx-background-color: #57964B;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
}

.button-2 {
    -fx-background-color: #0EA181;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
}

.button-close {
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
}